.Rproj.user
.Rhistory
.RData
.Ruserdata


for2018/data/
for2018/www/

for2019/data/
for2019/www/

for2020/data/CEDSWQM_CONVENTIONALS_2018+.xlsx
for2020/data/BRROdata2013toNov2019.RDS
for2020/data/BRROdata2013toNov2019_sites.RDS


for2022/data/
for2022/config.yml


*.yml
for2023/data/
for2023/config.yml
for2023/www/
for2023/uploadData/